<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Ke halaman kontak:</p>
    <a href="/contact">Go to Contact Page</a>
    <br>
    <p>Ke halaman todos list:</p>
    <a href="/todos-list">Go to todos list</a>
</body>
</html>